* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: 'Roboto', sans-serif;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
}

:root{
  --white: #fff;
  --danger: rgb(214, 62, 62);
  --orange: #ff8e06;
  --dark-orange: #eb8911;
  --gray: rgba(0, 0, 0, 0.1);
}