.modal-container, .modal-container-edit {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.modal-container.show, 
.modal-container-edit.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;

  background-color: #fff;
  width: 600px;
  max-width: 100%;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
}

.modal p {
  font-weight: 400;
}

.modal button#close, button#close-edit {
  position: absolute;

  right: 20px;
  top: 20px;

  width: 30px;
  height: 30px;

  background-color: rgb(214, 62, 62);
  border-radius: 8px;
  border: 0;

  color: #fff;
  cursor: pointer;
}

button {
  background-color: #e3e3;
}

.modal form {
  width: 100%;
  height: 400px;

  margin-top: 3rem;
}

form input {
  width: 100%;
  padding: 14px;

  border: 2px solid rgba(0, 0, 0, 0.1);

  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

input:focus {
  outline: none !important;
  border: 2px solid #ff8e06;
}

form select {
  width: 100%;
  padding: 14px;

  border: 0;

  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/arrowDown.png) no-repeat center right 22px;
  padding-right: 20px;
}

form #modal-button {
  position: absolute;

  bottom: 30px;
  right: 50px;

  height: 46px;
  width: 160px;

  border: 0;
  border-radius: 9px;

  color: #fff;
  font-weight: 400;

  background-color: #ff8e06;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

form #modal-button:hover {
  background-color: #eb8911;
}

